.tp-bullets{
    display: none !important;
}

.onepagepro-header-background-transparent .onepagepro-header-background{
    opacity: 1 !important;
    background-color: #001A1E !important;
}

.tp-parallax-wrap{
    position: absolute !important;
    display: block !important;
    visibility: visible !important;
    left: 100px !important;
    top: 159px !important;
    z-index: 6 !important;
}

.quemSomosFotinhus{
    height: 338px !important;
    width: auto !important;
    max-width: 25%;
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

.quemSomosTextuinhui{
    width: 70%;
    float: right;
    text-align: justify !important;
    font-weight: normal !important;
}

@media only screen and (max-width: 600px) {
    .quemSomosTextuinhui{
        width: 100%;
        margin-top: 10px !important;
        font-size: 18px !important;
    }

    .tp-parallax-wrap{
        left: 37px !important;
        top: 56px !important;
    }

    #fotoTrilha{
        background-size: auto !important;
    }

    #divTextoTrilha{
        height: 97px !important;
    }

    #textoTrilha{
        background: rgba(0,0,0,0.6) !important;
        margin-top: 8px !important;
        font-size: 19px !important;
        letter-spacing: 0px !important;
        text-transform: none !important;
        color: #ffffff !important;
        line-height: 27px !important;
        height: 4.5em !important;
    }

    #divPaiFotoEquipe{
        padding: 81vw 0px 0px 80px !important;
    }

    #divFotoEquipe{
        height: 101vw;
    }

    #fotoEquipe{
        background-size: contain !important;
        height: 100.5vw;
    }
}